@media(max-width: 768px){
    header{
        background-color:red;
        position: fixed;
        height: 90px;
        width: 100%;
        padding-top: 17px;
        z-index: 1;
    }
    header .a1 {
        float: left;
        position: relative;
        top: 20px;
        margin-right: 20px;
        right: -200px;
        color: white;  
        font-size: 20px ;
        font-style:normal; 
    }
    .a1 a{
        color: white;
        text-decoration: none;
       
    }
    .a1 img{
       
        position: relative;
        top: 5px;
    }
    
    header nav{
        float: right;
    }
    header ul{
         margin-left: 20px;
         margin-right: 30px;
         left: -150px;
         position: relative;
         top: -15px;
         font-size: 17px;
         font-style: normal;
    }
    header nav ul li{
        display: inline;
       
    }
    header nav a{
        text-decoration: none; 
        color: white;   
    } 
    header nav li{
        margin-right: 30px;
        
    }
}